


<suite name="Suite" parallel="true">
  
  <test name="Test">
    <classes>
     
      <class name="testng.ToolTip1"></class>
    </classes>
  </test> <!-- Test -->
  
  <test name="Test2">
    <classes>
      <class name="sat_4_11.Assert_Validation"/>
      
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
